.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(70, 112, 189);
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    height: 36rem;
    border-radius: 20px;
    font-size: 20px;
    font-family: bolder;
}
.imga{
    width: 50%;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}
.inp{
    border-radius: 10px;
    background-color: rgb(50, 50, 138);
    padding: 5px;
    border-color: black;
    border-style: double;
    margin-bottom: 10px;
}
.danger{
    margin-top: 1px;
    font-size: 15px;
    color: red;
    
}